.bg-white{background-color: #fff;}
.bg-darkgray{background-color: #808080;}
.bg-gray{background-color: #cccccc;}
.bg-fuchsia{background-color: #b91450;}
.text-fuchsia{color: #b91450;}
.text-pink{color: #c02d63;}

html{font-family: sans-serif;}
body{height: 100vh;}

main > div:first-of-type{
  border-radius: 15px;
}

main > div:first-of-type > div{width: 80%; margin: 0 auto;}

input,
select{
  border-color: #c02d63;
  border-radius: 5px;
  padding: 0.5em 1em;
}

main button{border-radius: 5px;}
main button:hover{border: 1px solid #e99850;}

.details{border-top: 1px solid #808080; border-bottom: 1px solid #808080;}

/* small */
@media screen and (max-width: 35.9em) {
  .label{margin-top: 1em;}

  .dati{max-width: 50%; flex-basis: 50%;}
  .dati h4{margin-top: 1em; margin-bottom: 1em;}
}